.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px auto;
    width: 350px;
    height: auto;
    border: none;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.profile:hover{
    background-color: none;
}

.avatar{
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px rgb(231, 224, 12) solid;
    background-color: yellow;
    margin-top: 15px;
}

.avatar:hover{
    background-color: white;
    border: none;
}

.description{
    text-align: center;
    font-size: 14px;
}

.name{
    font-size: 18px;
    font-weight: bolder;
}

.tag{
    color: #010150;
}

.location{
    color: #010150;
}

.stats{
    list-style: none;
    /* display: flex;
    justify-content: baseline; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


.label{
    font-weight: 400;
    margin-left: 10px;
}

.quantity{
    color: rgb(20, 63, 63);
    font-size: 14px;
}
